{% extends "includes/base.jinja2" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(async function () {
    }); //end Document Ready
</script>
<style>
    .navbar-scroll .bsi-logo-white {
        display: none
    }
    .bsi-logo-slate {
        display: none;
        margin-left: 10px;
    }
    .bsi-logo-white {
        margin-left: 10px;
    }
    .navbar-scroll .bsi-logo-slate {
        display: unset;
    }
    @media (max-width: 768px) {
        .bsi-logo-slate {
            display: unset;
        }
        .bsi-logo-white {
            display: none;
        }
    }
</style>
{% include "includes/bin_searchbar.jinja2" %}
{% endblock %}

{% block content %}

{% include "wp-templates/bin_home.html" %}

{% endblock %}