{% extends "includes/base.jinja2" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(async function () {
        let fields = [
            "name",
            "address",
            "guid_ror_id",
            "guid_grscicoll_code",
            "guid_ggbn_code",
            "guid_isni_id",
            "specimens",
            "sequences",
            "bin_uri",
            "species",
            "country/ocean"
        ].join(";")
        let filterData = (json) => {
            let filteredData = []
            for (let i = 0, len = json.length; i < len; i++) {
                if (json[i]["name"] != "*unvouchered") {
                    filteredData.push(json[i])
                }
            }
            return filteredData
        }
        let columns = [
            {
                title: "Name",
                data: "name"
            },
            {
                title: "Address",
                data: "address"
            },
            {
                title: "Specimens",
                data: "specimens"
            },
            {
                title: "Sequences",
                data: "sequences"
            },
            {
                title: "BINs",
                data: "bin_uri"
            },
            {
                title: "Species",
                data: "species"
            },
            {
                title: "Countries Oceans",
                data: "country/ocean"
            },
            {
                title: "Registries",
                data: null
            }
        ]
        let columnDefs = [
            {
                targets: [0],
                className: "highlight",
                render: function (data) {
                    return '<a href="/institution/' + encodeURIComponent(data) + '" class="navy-link">' + data + ' <i class="fa fa-link"></i></a>'
                }
            },
            {
                targets: [2, 3, 4, 5, 6],
                render: function (data) {
                    return data ? data : 0
                }
            },
            {
                targets: [7],
                render: function (data) {
                    let registries = []
                    if (data["guid_ror_id"] && data["guid_ror_id"].trim()) {
                        registries.push('ROR ID: ' + '<a href="https://ror.org/' + encodeURIComponent(data["guid_ror_id"]) + '" class="navy-link">' + data["guid_ror_id"] + ' <i class="fa fa-link"></i></a>')
                    }
                    if (data["guid_grscicoll_code"] && data["guid_grscicoll_code"].trim()) {
                        registries.push('GrSciColl Code: ' + data["guid_grscicoll_code"])
                    }
                    if (data["guid_ggbn_code"] && data["guid_ggbn_code"].trim()) {
                        registries.push('GGBN Code: ' + '<a href="https://registry.ggbn.org/ncd/organisation_detail.php?id=' + encodeURIComponent(data["guid_ggbn_code"]) + '" class="navy-link">' + data["guid_ggbn_code"] + ' <i class="fa fa-link"></i></a>')
                    }
                    if (data["guid_isni_id"] && data["guid_isni_id"].trim()) {
                        registries.push('ISNI ID: ' + '<a href="https://isni.org/isni/' + encodeURIComponent(data["guid_isni_id"].replaceAll(' ', '')) + '" class="navy-link">' + data["guid_isni_id"].replaceAll(' ', '') + ' <i class="fa fa-link"></i></a>')
                    }

                    return registries.join("<br>")
                }
            }
        ]
        populate_ancillary_table("institutions", fields, 1, filterData, [[0, 'asc']], columns, columnDefs, "inst_home")
    }); //end Document Ready
</script>
<style>
    #search-title {
        position: absolute;
        top: 220px;
        z-index: 10;
    }

    #search-title h1 {
        color: white !important;
        font-size: 50px !important;
    }

    .carousel {
        height: 600px !important;
    }

    .carousel img {
        height: 600px !important;
        object-fit: cover;
    }

    .carousel-indicators {
        padding: 0px !important;
    }

    .carousel-item {
        height: 600px !important;
    }

    .carousel-inner img {
        margin: auto;
        filter: brightness(.7);
    }
</style>
{% endblock %}

{% block content %}
<div id="search-carousel" class="carousel slide" data-ride="carousel">
    <div id="search-title" class="container-fluid">
        <div class="row justify-content-center">
            <h1>Institutions</h1>
        </div>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/static/img/Inst.webp" alt="">
        </div>
    </div>
</div>

{% include "wp-templates/inst_home.html" %}

<section id="features" class="container services">
    <div class="row">
        <div class="col-lg-12">
            {% set ancillary_title = "Institutions" %}
            {% include "includes/ancillary_table.jinja2" %}
        </div>
    </div>
</section>

{% endblock %}