<script type="text/javascript">
    function populate_coordinates_map(offset=0, countryIso=null) {
        let src = `/api/maps/{{ query_id }}?offset=${offset}`
        if (countryIso) {
            src = src.concat(`&countryIso=${countryIso}`)
        }
        $("#coordinates").empty()
        $("#coordinates").append(
            $("<img>")
            .css("width", "100%")
            .attr("src", src)
        )
        $("#ajax-urls").append($("#coordinates img").prop("src") + "\n")
        $("#coordinates-div").toggleClass("sk-loading")
    }
</script>

<div class="ibox">
    <div id="coordinates-div" class="ibox-content sk-loading">
        <div class="navy-line{{ "-center" if coordinates_map_title_center else "" }}"></div>
        <h1 {{ "class=text-center" if coordinates_map_title_center else "" }}>{{ coordinates_map_title|e if coordinates_map_title else "Collection Site(s)" }}</h1>
        <div class="sk-spinner sk-spinner-cube-grid">
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
        </div>
        <div id="coordinates" class="mb-3"><br><br></div>
        <div id="coordinates-legend" class="row text-center">
            <div class="col-sm-2"><strong>Legend</strong></div>
            <div class="col-sm-2">
                <svg height="20" width="20">
                    <circle cx="10" cy="10" r="8" stroke="grey" stroke-width="0.25" fill="#ffff00"/>
                </svg>
                <span>1+</span>
            </div>
            <div class="col-sm-2">
                <svg height="20" width="20">
                    <circle cx="10" cy="10" r="8" stroke="grey" stroke-width="0.25" fill="#ff8c00"/>
                </svg>
                <span>10+</span>
            </div>
            <div class="col-sm-2">
                <svg height="20" width="20">
                    <circle cx="10" cy="10" r="8" stroke="grey" stroke-width="0.25" fill="#ff3200"/>
                </svg>
                <span>100+</span>
            </div>
            <div class="col-sm-2">
                <svg height="20" width="20">
                    <circle cx="10" cy="10" r="8" stroke="grey" stroke-width="0.25" fill="#ff0000"/>
                </svg>
                <span>1000+</span>
            </div>
            <div class="col-sm-2">
                <svg height="20" width="20">
                    <circle cx="10" cy="10" r="8" stroke="grey" stroke-width="0.25" fill="#ff00ff"/>
                </svg>
                <span>10000+</span>
            </div>
        </div>
    </div>
</div>