<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="https://boldsystems.org/">
                <img width="220" height="24.5"
                    src="../wp-content/uploads/2023/09/BOLD-Gray-and-Orange.png"
                    class="attachment-full size-full wp-image-22084" alt="" />
            </a>
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link page-scroll" href="/">Portal Home</a></li>
                    <li><a class="nav-link page-scroll" href="/recordset">Datasets</a></li>
                    <li><a class="nav-link page-scroll" href="/geo">Countries</a></li>
                    <li><a class="nav-link page-scroll" href="/institution">Institutions</a></li>
                    <li><a class="nav-link page-scroll" href="/bin">BINs</a></li>
                    <li><a class="nav-link page-scroll" href="/primer">Primers</a></li>
                    <li><a class="nav-link page-scroll" href="/api">API</a></li>
                    <li><a class="nav-link page-scroll" href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
